{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
    Content
{% endblock %}

{% block body %}
    <section class="container-fluid mt-4 small-height">
        <h1 class="mt-4 mx-2">Content</h1>
        <a class="btn btn-primary" href="{{ path('content.create') }}">Add new content</a>
        <table class="mt-2 table">
            <thead class="table-dark">
                <tr class="active">
                    <th>ID</th>
                    <th>Theme</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Files</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in content %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.rowTheme.theme }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description|slice(0, 130) ~ '...' }}</td>
                        <td>
                            {% for file in item.files %}
                                {{ file.fileName }}
                            {% endfor %}
                        </td>
                        <td class="d-flex gap-2 mt-2">
                            <a href="{{ path('content.edit', {id: item.id}) }}" class="btn btn-primary">Edit</a>
                            <form method="POST" action="{{ item.id }}" onsubmit="return confirm('Êtes-vous sùr de vouloir supprimer ce contenu ?')">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
								<button class="btn btn-danger text-light">Delete</button>
							</form>
                        </td>
                    </tr> 
                {% else %}
					<tr>
						<td colspan="4">No content found.</td>
					</tr>
				{% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}