{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
    section
{% endblock %}

{% block body %}
    <section>
        <div class="section-header">
            <div class="section-name">
                <h1>{{ content.name }}</h1>
            </div>
            <div class="section-desc">
                <h3>{{ content.rowTheme.theme }}</h3>
                <p>{{ content.description }}</p>
            </div>
        </div>
        <div class="section-doc">
            {% for path in content.files %}
                {% if '.pdf' in path %}
                    <p>{{ path }}</p>
                {% elseif '.img' in path %}
                    <p>{{ path }}</p>
                {% elseif '.py' in path or '.ps1' in path %}
                    <p>{{ path }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}