{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	{{ content[0].theme }}
{% endblock %}

{% block body %}
	<section>
		<div class="theme-title">
			<h1>
				<i class="bi bi-bookmark-fill"></i>
				{{ content[0].theme }}</h1>
		</div>
		<div class="block-card">
			{% for item in content %}
				<a href="/section/{{ item[0].slug }}/">
					<div class="card-general">
						<div class="card-general-title">
							<h5>{{ item[0].name }}</h5>
						</div>
						<div class="card-general-body">
							<p>{{ item[0].description }}</p>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>

{% endblock %}
